/*  imports a font  poppins do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CORES*/
:root {
    --main-color: #fdff00;
    --text-color: #ffffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /*Extra*/
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

/*/CORES*/

/*BODY-CONFIG*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/*BODY-CONFIG*/

/*HTML-CONFIG*/
html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

/*/HTML-CONFIG*/

/*CABEÇALHO-CONFIG*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    cursor: default;
}

.nav {
    margin-left: 40em;
}

.nav a, .nav-responsivo {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav-responsivo {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.nav a:hover, .nav-responsivo a:hover {
    color: var(--color-02);
}

/*/CABEÇALHO-CONFIG*/

/*SOBRE-CONFIG*/


.sobre {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    background-color: var(--bg-color-02);
    display: flex;
    /* flex-direction: row;
    justify-content: space-evenly;*/
    align-items: center;

}

span {
    color: var(--color-02);
}

.sobre-content {
    width: 80%;
}

.sobre-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.sobre-content h1 {
    font-size: 2.7rem;
    line-height: 1.3;
    font-weight: 700;
}

.sobre-content p {
    text-align: justify;
    margin-top: 1.2rem;
}

.sobre-content div {
    text-align: center;
}

.redes-sociais a {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--color-02);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-02);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.curriculo a {
    color: var(--color-02);
    border-radius: 30px;
    padding: 0.40rem;
    font-size: 1.5rem;
    border: solid 0.15rem var(--color-02);
    transition: 0.5s ease;
}

.redes-sociais a:hover, .curriculo a:hover {
    color: var(--text-color);
    box-shadow: 0 0 0.3rem var(--color-02);
}

.sobre-img img {
    text-align: center;
    margin-left: 10rem;
    width: 50%;
    color: var(--color-02);
    border-radius: 30px;
    border: solid 0.15rem var(--color-02);
    transition: 0.5s ease;
}

/*/SOBRE-CONFIG*/

/*FORMAÇÕES-CONFIG*/
.formacoes h2, .habilidades h2, .linguagens h2, .projetos h2 {
    text-align: center;
    font-size: 2.2rem;
}

.formacoes-container, .habilidades-container, .linguagens-container, .projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 1rem;
    margin-right: 1rem;

}

.formacoes-box:hover, .habilidades-box:hover, .linguagens-box:hover, .projetos-box:hover {
    border: solid 3px var(--color-02);
    transform: scale(1.01);
}

.formacoes-box a {
    color: var(--text-color);
}

.formacoes-box, .habilidades-box, .linguagens-box, .projetos-box {
    background-color: var(--bg-color-02);
    border-radius: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 25%;
    text-align: center;
    align-items: center;
    min-height: 15rem;
}

.habilidades-box i, .linguagens-box i {
    font-size: 4.3rem;
    color: var(--color-02);
}

.habilidades-box h3, .linguagens-box h3 {
    font-size: 1.5rem;
}

.habilidades-box p, .linguagens-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /*n linhas do texto p...*/
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*/HABILIDADES-CONFIG*/

/*PROJETOS-CONFIG*/
.projetos {
    background-color: var(--bg-color-02);
}

/*BTN-WHATS*/
.icon-whats {
    position: fixed;
    bottom: 60px;
    height: 30px;
    background-color: var(--text-color);
    color: var(--color-02);
    border: solid 2px var(--color-02);
    border-radius: 50%;
    padding: 3px;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px black;
    margin-left: 1450px;
    margin-bottom: 60px;
    transition: 0.4s;
}

.icon-whats i {
    padding: 3px;
    margin-top: 0.2rem;
    font-size: 50px;
}

.icon-whats:hover {
    background-color: var(--btn-cookies-color);
    color: var(--text-color-wht);
    font-weight: 900px;
    box-shadow: 2px 2px 2px var(--hover-color);
    transform: scale(0.9);
}

/* /BTN-WHATS*/

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

/*/FOOTER*/





/*MENU-HAMBURGUER*/
.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem;
    transition: 0.3s ease;
}

/*/MENU-HAMBURGUER*/

/*    .btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    }
.btn:hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    cursor: pointer;
}*/

/*js menu toggle*/
.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

/*MEDIA-QUIERIES*/